<h2>{{ isEdit ? 'Modifier' : 'Ajouter' }} un espace</h2>

<form [formGroup]="espaceForm" (ngSubmit)="onSubmit()">

  <label for="nom">Nom :</label>
  <input id="nom" formControlName="nom" type="text" />

  <label for="type">Type :</label>
  <select id="type" formControlName="type">
    <option value="salle">Salle</option>
    <option value="bureau">Bureau</option>
    <option value="coworking">Coworking</option>
    <option value="Amphi">Amphi</option>
    <option value="hotel">Hôtel</option>
  </select>

  <label for="capacite">Capacité :</label>
  <input id="capacite" formControlName="capacite" type="number" />

  <label for="localisation">Localisation :</label>
  <input id="localisation" formControlName="localisation" type="text" />

  <label for="prixParHeure">Prix par heure (DT) :</label>
  <input id="prixParHeure" formControlName="prixParHeure" type="number" step="0.1" />

  <label for="description">Description :</label>
  <textarea id="description" formControlName="description" rows="3"></textarea>

  <label for="disponibilite">Disponible :</label>
  <input id="disponibilite" type="checkbox" formControlName="disponibilite" />

  <br /><br />
  <button type="submit">
    {{ isEdit ? 'Modifier' : 'Ajouter' }} l'espace
  </button>
</form>
