<div class="container my-4">
  <h2 class="mb-4">📅 Mes Réservations</h2>

  <div *ngIf="message" class="alert alert-info">{{ message }}</div>

  <full-calendar [options]="calendarOptions"></full-calendar>

  <!-- Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h5 class="modal-title">Détails de la réservation</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body" *ngIf="selectedReservation">
          <p><strong>Espace :</strong> {{ getEspaceNom(selectedReservation.espace) }}</p>
          <p><strong>Date début :</strong> {{ selectedReservation.dateDebut | date:'short' }}</p>
          <p><strong>Date fin :</strong> {{ selectedReservation.dateFin | date:'short' }}</p>
          <p><strong>Statut :</strong> {{ selectedReservation.statut }}</p>
         
        </div>
        <div class="modal-footer">
          <button *ngIf="selectedReservation?.statut !== 'annulée'"
                  type="button"
                  class="btn btn-danger"
                  (click)="annulerReservation(selectedReservation!._id!)">
            Annuler
          </button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
