.container {
  padding: 20px;
}
.espace-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.oui {
  color: green;
}
.non {
  color: red;
}

.main-content {
  margin-left: 240px; /* espace pour la sidebar */
  padding: 20px;
}



.page {
  position: relative;
}

/* Toggle button */
.toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 70px; /* just under the menu button */
  left: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Main Content */
.main-content {
  margin-top: 100px;
}


.page {
  display: flex;
}

